body {
        /* background-color: lightgray; */
        background-image: url("burger.jpg");
        background-repeat: repeat-y;
        font-family: Arial, sans-serif;
}
h1 {
        color: navy;
        text-align: left;
}
p {
        margin: 20px;
        text-align: justify;
}
