body {
        background-color: lightgray;
        font-family: Arial, sans-serif;
}
h1 {
        color: navy;
        text-align: left;
}
p {
        margin: 20px;
        text-align: justify;
}